html,
body {
    background-color: black;
}

.box1 {
    width: 100%;

}

.box1 img {
    float: left;
    width: 10%;
    height: 100px;
    border: 1px solid white
}

.menu {
    width: 1000px;

    margin: 30px auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}

.menu>a {
    padding: 8px;
    font-size: 20px;
    margin: 0 10px;
    color: white;
    border: 3px solid white;
}

.menu2 {
    width: 1000px;

    margin: 30px auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 90px;
    text-align: center;
}

.menu2>a {
    padding: 8px;
    font-size: 20px;
    margin: 0 10px;
    color: white;
    border: 3px solid white;
}

.menu3 {
    width: 1000px;

    margin: 30px auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 90px;
    text-align: center;
}

.menu3>a {
    padding: 8px;
    font-size: 20px;
    margin: 0 10px;
    color: white;
    border: 3px solid white;
}

.div2 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
    color: white;


}

.div2 p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    margin-top: 15px;
    color: white;

}

.div1 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    text-align: center;
    color: white;


}

.div1 p {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: bold;
    margin-top: 15px;
    color: white;

}

.div1>p,
a {
    font-size: 25px;

    color: yellow;
}
